$height: 45px;
$table-width: 30%;

%list-style {
    width: 100%;
    display: flex;
    height: $height;
    line-height: $height;
    text-align: center;
}

.list-header {
    @extend %list-style;
    background: #ccc;

    div {
        width: $table-width
    }
}

.people-list {
    @extend %list-style;

    div {
        width: $table-width;
    }
    a {
        margin: auto;
    }
}

