$height: 45px;
$table-width: 25%;

%list-style {
    width: 100%;
    height: $height;
    line-height: $height;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

%edit-delete {
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 15px;
}

.list-header {
    @extend %list-style;
    background: #0b0e77;
    display: flex;
    color: #fff;

    
    div {
        width: $table-width;
    }
}

.people-list {
    @extend %list-style;

    .people-data {
        display: block;
        width: 100%;
        
        div {
            width: $table-width;
            float: left;
        }

        .delete-action {
            @extend %edit-delete;
            color: red;
        }
        
        .edit-btn {
            @extend %edit-delete;
            font-size: 20px;
        }
    }

    a {
        margin: auto;
    }

    .warning {
        color: #d48541
    }
}

