@use './Weather.scss';

$backgroundColor: #0b0e77;

#map {

    width: 60%;
    height: 500px;
    margin: auto;
}

.coordinate {
    text-align: center;
    margin-top: 20px;
    @extend %text-style;
    
    button {
        display: block;
        height: 30px;
        background-color: $backgroundColor;
        margin: 20px auto;
        color: #fff;
        // font-size: 25px;
    }
}

.details {
    .header {
        margin: auto;
        text-align: center;
        @extend %text-style;

        
    }  

    .breakdown {
        width:60%;
        margin: auto;
        @extend %text-style;

        .row.special {
            font-size: 30px;
            font-weight: 700;
            font-family: 'Courier New', Courier, monospace;

            .col1 {
                background-color: $backgroundColor;
            }
            .col2 {
                background-color: $backgroundColor;
            }
        }

        .row {
            width: 100%;
            text-align: center;
            line-height: 30px;
            
            .col1 {
                width: 49.5%;
                float: left;
                border: 1px solid $backgroundColor;

            }

            .col2{
                width: 49.5%;
                float: left;
                border: 1px solid $backgroundColor;

            }
        }
    }
   

}