$create-btn-diamentions: 30px;

%people-text-field {
    height: 30px;
    width: 90%;
    padding-left: 20px;
}

.modal-background {
    width: 100%;
    position: fixed;
    height: 100%;
    background: #000;
    opacity: 0.3;
}

.people-container {
    margin-top: 110px;
    .people-operations {
        width: 100%;
        height: 80px;
        
        .create-new-btn {
            display: inline-block;
            font-size: 25px;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            background-color: #25b700;
            color: #fdfafa;
            cursor: pointer;
            width: $create-btn-diamentions;
            height: $create-btn-diamentions;
            border-radius: $create-btn-diamentions;
            text-align: center;
            line-height: $create-btn-diamentions;
            font-size: 50px;
            font-weight: 900;
        }

        .create-new-btn:hover {
            background-color: #8487e2cc;
        }

        .search-container {
            width: 30%;
            float: right;
            line-height: 80px;
            
            input {
                @extend %people-text-field;
            }

            .clear-btn {
                position: absolute;
                float: right;
                right: 30px;
            }

            @media screen and (max-width: 400px){
                .clear-btn {
                    position: absolute;
                    float: right;
                    right: 30px;
                }
            }
        }

    }
}