.Header {
    background-color: #0b0e77;
    color: #ffffff;
    height: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0 ;
    
    h1 {
        width: 20%;
        float: left;
        margin: 0 0 0 20px;
        line-height: 100px;
    }

    .links {
        width: 30%;
        float: right;

        ul {
            list-style: none;
            margin: auto;
            line-height: 100px;

            li {
                font-size: 25px;

                a {
                    margin-right: 10px;
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                }

            }
        }
    }
}