.Header {
    background-color: #cccccc;
    color: red;
    height: 100px;

    h1 {
        width: 20%;
        float: left;
        margin: 0 0 0 20px;
        line-height: 100px;
    }

    .links {
        width: 30%;
        float: right;

        ul {
            list-style: none;
            margin: auto;
            line-height: 100px;

            li {
                font-size: 25px;

                a {
                    margin-right: 10px;
                    color: #000;
                    text-decoration: none;
                }

            }
        }
    }
}