.create-new-modal {
    height: 50%;
    position: fixed;
    width: 40%;
    margin: 15% 25%;
    z-index: 999;
    border: 1px solid;
    top: 0;
    z-index: 999;
    left: 50%;
    margin-left: -20%; // half of width
    background-color: #ffffff;


//     background-color: #fefefe;
//   margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%;
}