@use '../../../container/People.scss' ;

.create-new-modal {
    height: 261px;
    position: fixed;
    width: 40%;
    margin: 15% 25%;
    z-index: 999;
    border: 1px solid;
    top: 0;
    z-index: 999;
    left: 50%;
    margin-left: -20%; // half of width
    background-color: #ffffff;

    .create-people {
        .row {
            margin: 20px 0 10px 10px;
            
            input {
                @extend %people-text-field;
                
            }

            .save {
                background-color: #59dce2;
                height: 35px;
                width: 40%;
                margin-right: 40px;
                float: right;
            }

            .cancel {
                background-color: red;
                height: 35px;
                float: left;
                width: 40%;
            }
            
            
        }

        .save-btn-container {
            width: 100%;
            margin: 10px;
        }

        .row:first-of-type {
            margin-top: 30px;
        }


    }
}